.spinner-wrapper {
    display: flex;
    align-items: center;
    justify-content: center;
}

.spinner {
    animation: spin 0.8s linear infinite;
}

.spinner-path {
    stroke: var(--color-accent);
    stroke-linecap: round;
    stroke-dasharray: 90, 150;
    stroke-dashoffset: 0;
    animation: spinnerDash 1.5s ease-in-out infinite;
}

@keyframes spinnerDash {
    0% {
        stroke-dasharray: 1, 150;
        stroke-dashoffset: 0;
    }

    50% {
        stroke-dasharray: 90, 150;
        stroke-dashoffset: -35;
    }

    100% {
        stroke-dasharray: 90, 150;
        stroke-dashoffset: -124;
    }
}